#score {
  width: 200px;
  height: 100px;
  position: absolute;
  left: 500px;
  top: 0px;
  font-size: 500%;
  text-align: center;

}

architecture
  - code uses module pattern
  - engine communicates with game logic via callbacks
  - rendering objects on a grid using pixel2grid conversions
